{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans "News" %}</h1>

<div>
    <a href="{% url 'news_search' %}" class="btn">{% trans "Search news" %}</a>
    <a href="{% url 'news_create' %}" class="btn btn-success">{% trans "Create news" %}</a>
    <a href="{% url 'article_create' %}" class="btn btn-info">{% trans "Create article" %}</a>
</div>

{% for article in articles %}
    <div class="card">
        <h3>{{ article.title }}</h3>
        <p>{{ article.preview }}</p>
        <p><small>{% trans "Author" %}: {{ article.author.user.username }} | {% trans "Date" %}: {{ article.created_at|date:"d.m.Y H:i" }}</small></p>
        <a href="{% url 'news_detail' article.id %}" class="btn">{% trans "Read more" %}</a>
    </div>
{% empty %}
    <p>{% trans "No news yet." %}</p>
{% endfor %}
{% endblock %}